body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Início Imagem */
.containerB {
    display: flex;
    width: 100%;
    height: 700px;
    background-image: url(../Imagem/Home.jpg);
    background-size: cover;
    background-position: 100% 100%;
}

/* .containerB .conteudo {
    display: flex;
    font-size: 75px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 35%;
} */

/* Fim Imagem */

/* Início Social */
.social {
    background-color: #ffffffeb;
    height: 48rem;
    width: 99.8%;
    padding: 1px;
}

.social h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.socialDesc {
    text-align: justify;
    display: flex;
    margin-left: 37rem;
    height: 28rem;
    width: 40rem;
    padding: 1.5rem;
    background-color: transparent;
    color: black;
}

.socialText {
    height: 30rem;
    width: 40rem;
    line-height: 2rem;
    margin-top: 3rem;
}

.titleSocial {
    font-size: 2.15rem;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.socialText p {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3.5rem;
}

.socialText a {
    width: 6.5rem;
    color: #ff0000;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 30.8rem;
    bottom: 3.6rem;
}

/* Início Carrossel */
#carrossel {
    height: 33rem;
    width: 26rem;
    margin-left: 7rem;
    position: relative;
    bottom: 30rem;
    border-radius: 1rem;
    box-shadow: 8px 3px 30px 10px rgba(0, 0, 0, 0.391);
}

#carrossel img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s;
    border-radius: 1rem;
}

#carrossel img.atual {
    opacity: 1;
}

/* Fim Carrossel */

/* Início Trilha */
.aberturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 35rem;
    background-color: #ffffffeb;
}

.aberturas h1 {
    text-align: center;
    font-size: 2.15rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 1.8rem;
}

.aberturas h2 {
    text-align: justify;
    height: 5rem;
    width: 76rem;
    font-size: 1.5rem;
    line-height: 2rem;
    position: relative;
    bottom: 2.5rem;
}

.videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    bottom: 1rem;
}

.video {
    flex: 0 0 calc(33.33% - 20px);
}

iframe {
    width: 25rem;
    height: 20rem;
    border-radius: 2.5rem; 
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.314);   
}

/* Fim Trilha */