body{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
      
}
/* Início NavBar */
.header {
    /* position: fixed; */
    display: flex;
    width: 100%;
    height: 96px;
    border-bottom: 3px solid #ff0000;
    background-color: #000000;    
} 

.logo{    
    display: flex;    
    width: 80%;
    height: 100px;    
    justify-content: space-between;
    align-self: flex-start;
    margin-left: 8%;        
}

a {    
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 25px;   
}

.navBar {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin-top: 3%;
}

a:hover {
    color: #ff0000;
    transform: scale(1.05);
    transition: 0.20s ease-in-out;
  }
/* Fim NavBar */
/* Início Banner */
.container{
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: url(../Imagem/Opção2.jpg);
    background-size: cover; 
    background-position: 50% 50%; 
}

/* .container h1{
    color: white;
    text-align: center;
    font-size: 50px;
} */

/* Início Cards */
.card-luffy{
    display: flex;
    width: 20%;
    height: 48vh;   
    background-size: cover;
    background-position: 100%;
    position: relative;
    left: 7%;
    top: 8%;
}

.card-Zoro{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  left: 10%;
  top: 8%;  
}

.card-Sanji{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  left: 20%;
  top: 8%;
}

.card-Jinbe{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  left: 23%;
  top: 8%;
}

.card-Nami{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right: 62.5%;
  top: 37%;
}

.card-Ussop{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right: 59.5%;
  top: 37%;
}

.card-Robin{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right: 49.5%;
  top: 37%;
}

.card-Brook{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right: 46.5%;
  top: 37%;
}

.card-Franky{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right : 132%;  
  top: 65%;
}

.card-Chopper{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right : 129%;  
  top: 65%;
}

.card-Shanks{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right : 119%;  
  top: 65%;
}

.card-Roger{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  right : 116%;  
  top: 65%;
}
/* fim Cards */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* overflow: auto; */
    background-color: rgba(0,0,0,0.4);    
  }
  
  .modal-content {
    width: 55%;
    height: 55%;
    margin: 15% auto;
    background-color: #e6cb93;    
    padding: 10px;      
    border: 1px solid #888;
    border-radius: 25px;
    /* background-image: url(../Imagem/teste.jpg); */
    background-size: cover;
    background-position: 100%;
  }

  .perfil{
    display: flex;
    width: 35%;
    height: 63%;
    justify-content: end;
    position: relative;
    top: 3%;
    left: 55%;
    bottom: 15%;
    background-size: cover;
    background-position: 100%;
  }

  .texto{
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    bottom: 55%;
    left: 5%;
  }

  .informacoes{
    display: flex;
    flex-direction: row;    
    width: fit-content;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;    
    top: 0%;
    left: 3%;
    bottom: 15%;
    margin: 2%;
  }

  .detalhes{
    width: 90%;
    height: 27%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;   
    font-weight: bold; 
    padding: 5%;
    position: relative;
    bottom: 53%;
  }  