body{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
      
}
/* Início NavBar */
.header {
    /* position: fixed; */
    display: flex;
    width: 100%;
    height: 96px;
    border-bottom: 3px solid #ff0000;
    background-color: #000000;    
} 

.logo{    
    display: flex;    
    width: 80%;
    height: 100px;    
    justify-content: space-between;
    align-self: flex-start;
    margin-left: 8%;        
}

a {    
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 25px;   
}

.navBar {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin-top: 3%;
}

a:hover {
    color: #ff0000;
    transform: scale(1.05);
    transition: 0.20s ease-in-out;
  }
/* Fim NavBar */
/* Início Banner */
.container{
    display: flex;
    width: 100%;
    height: 1000px;
    background-image: url(../Imagem/Login.jpg);
    background-size: cover; 
    /* background-position: 100%;  */
}

/* .container h1{
    color: white;
    text-align: center;
    font-size: 50px;
} */

/* Cards */
.card-luffy{
    display: flex;
    width: 20%;
    height: 48vh;   
    background-size: cover;
    background-position: 100%;
    position: relative;
    left: 15%;
    margin-top: 5%;
}

.card-Zoro{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  left: 15%;
  margin-top: 5%;  
}

.card-Sanji{
  display: flex;
  width: 20%;
  height: 48vh;   
  background-size: cover;
  background-position: 100%;
  position: relative;
  left: 15%;
  margin-top: 5%;
}
/* fim Cards */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* overflow: auto; */
    background-color: rgba(0,0,0,0.4);    
  }
  
  .modal-content {
    width: 55%;
    height: 50%;
    margin: 15% auto;
    background-color: #e6cb93;    
    padding: 10px;      
    border: 1px solid #888;
    border-radius: 25px;
    /* background-image: url(../Imagem/teste.jpg); */
    background-size: cover;
    background-position: 100%;
  }

  .perfil{
    display: flex;
    width: 30%;
    height: 60%;
    justify-content: end;
    position: relative;
    top: 1%;
    left: 50%;
    bottom: 15%;
    background-size: cover;
    background-position: 100%;
  }

  .texto{
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    bottom: 50%;
    left: 5%;
  }

  .informacoes{
    display: flex;
    flex-direction: row;    
    width: fit-content;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;    
    top: 0%;
    left: 3%;
    bottom: 15%;
    margin: 2%;
  }

  .detalhes{
    width: 90%;
    height: 27%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;   
    font-weight: bold; 
    padding: 5%;
    position: relative;
    bottom: 50%;
  }

  

  /* Início Botão close */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* Fim botão close */
  